<div class="container">
    <h1 class="text-center">PGA 팀원 소개</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        윤동민 <span class="badge bg-primary" style="font-size: small;">팀장</span>
                    </h2>
                    <hr>
                    <p class="card-text">반응이 없다<br>이틀 밤을 샜다고 하더니 죽은 듯 하다</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">박준용</h2>
                    <hr>
                    <p class="card-text">헤로쿠 오류와 싸우다 사망</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">송우영</h2>
                    <hr>
                    <p class="card-text">아<br>앵귤러 너무 어렵다;;</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">임주엽</h2>
                    <hr>
                    <p class="card-text">TBA</p>
                </div>
            </div>
        </div>
    </div>

</div>